.bg-img::before {
    background-image: url("images/black-and-white-bookcase-books-256453.jpg");
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 130%;
    z-index: -2;
    opacity: 0.6;
}

.bg-img::after {
    background-color: lightgoldenrodyellow;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 130%;
    z-index: -1;
    opacity: 0.1;
}

.contain {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    font-family: 'Horizon';
    font-style: oblique;
    font-weight: bolder;
}

.heading-img {
    max-width: 1000px;
}

#logo {
    font-family: 'Horizon';
    font-size: 7rem;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}

.heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    /* background-image: url("images/change-close-up-coins-210698.jpg"); */
}

.d-block {
    height: 50vh !important;
}

.carousel-inner {
    border-radius: 10px !important;
    border: 1px solid black;
}

.container {
    margin: 20px 0 20px 0;
}

#form {
    background-color: aliceblue;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
}

button {
    margin-bottom: 7px;
}

footer {
    display: flex;
    justify-content: center;
}