.all {
    margin: 0px auto;
    height: auto;
}

.bg-img::before {
    background-image: url("images/black-and-white-bookcase-books-256453.jpg");
    background-size: cover;
    filter: blur(2.8px);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 200%;
    margin: 0px auto;
    z-index: -2;
    opacity: 0.6;
}

.bg-img::after {
    background-color: rgb(181, 181, 165);
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200%;
    margin: 0px auto;
    z-index: -1;
    opacity: 0.1;
}

.contain-lower {
    max-width: 1000px;
    margin: 0px auto;
}

.navbar {
    max-width: 1000px;
    margin: 0px auto;
    background-color: #e1e1e1 !important;
}

.navbar-brand {
    font-family: 'Horizon';
    font-style: oblique;
    font-weight: bolder;
}

.heading-img {
    max-width: 1000px;
}

#logo {
    font-family: 'Horizon';
    font-size: 7rem;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    color: #0a0e2c;
    margin-top: 20px;
}

.heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.description {
    font-style: normal;
    opacity: 1 !important;
    z-index: 1;
    color: azure;
}

#slogan {
    font-style: oblique;
    font-family: monospace;
}

.transparent-box {
    background-color: rgba(162, 56, 56, 0.68);
    height: 150px;
    margin: 10px 0 30px 0;
    padding-top: 40px;
    z-index: -1;
    text-align: center;
}

.d-block {
    height: 50vh !important;
}

.carousel-inner {
    border-radius: 10px !important;
    border: 1px solid black;
}

.carousel-caption {
    color: rgb(239, 245, 245);
    background-color: rgba(22, 52, 62, 0.72);
    left: 0;
    right: 0;
}

.container-cards {
    margin: 2rem 0 2rem 0;
}

.row {
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
}

#form {
    background-color: rgb(191, 191, 199);
    border-radius: 10px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

button {
    margin-bottom: 7px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: rgb(241, 249, 249);
    font-weight: 500;
}

@media (max-width: 1028px) {
    .container-cards {
        padding: 0 1rem 0 1rem;
    }
}

@media (max-width: 936px) {
    #form {
        margin-left: 2rem;
    }
}

@media (max-width: 575px) {
    #form {
        margin: 0 auto;
    }
    #card1 {
        margin: 1rem 0 1rem 0;
    }
}

@media (max-width: 494px) {
    #logo {
        font-size: 5.5rem;
    }
    .description {
        font-size: 1.2rem;
    }
    #slogan {
        font-size: 1.6rem;
    }
}

@media (max-width: 400px) {
    .description {
        font-size: 1rem;
    }
    #slogan {
        font-size: 1.5rem;
    }
}

@media (max-width: 350px) {
    .description {
        font-size: .98rem;
    }
    #slogan {
        font-size: 1.2rem;
    }
}