
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


header img {
    height: 25rem;
    width: 53rem;
    margin: 2% 0 2% 17%;
    border-radius: 10px;
}



    /* Not sure how to style Back to Top button */
    /* #top {
        font-family: 'Segoe UI';
        color: rgb(36, 161, 211)
    } */

nav {
    display: flex;
    justify-content: center;
}

nav a {
    font-family: 'Segoe UI';
    padding: 0 4%;
    margin: 0 4%;
    color: black;
    border: .09rem solid black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: .5rem;
}

nav a:hover {
    background-color: rgb(135, 193, 216);
    font-weight: bold;
}

.intro-quote {
    font-family: 'Segoe UI';
    text-align: center;
    color: black;
    font-weight: 10;
    font-size: 1.6rem;
    margin: 0% 10% 0% 10%;
}

.gates-foundation-link {
    color: rgb(11, 116, 158);
    text-decoration: none;
}

.gates-foundation-link:hover {
    text-decoration: underline;
}

.intro-quote-link {
    font-size: 1.2rem;
    font-family: 'Segoe UI';
    text-decoration: none;
    text-align: center;
    margin: 1% 40%;
    padding: .3rem 0;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid black;
    color: black;
}

.intro-quote-link:hover {
    font-weight: bold;
    background-color: rgb(135, 193, 216);
    border: 2px solid black;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 3%;
    margin: 3% 1% 3% 1%;
    font-family: 'Segoe UI';
    text-align: center;
    border-radius: 4%;
}

.card-img {
    height: 14rem;
}

.card-btn {
    border: 1px solid black;
    padding: .3rem 1rem;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}

.card-btn:hover {
    font-weight: bold;
    border: 2px solid black);
    background-color: rgb(135, 193, 216);
}
/* MEDIA QUERY
@media {

} */

.card-title {
    width: 105%;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}